<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="static/style_index.css">
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <p> | </p>
        <a href="/zainteresowania">Moje zainteresowania</a>
        <p> | </p>
        <a href="/kontakt">Kontakt ze mną</a>
    </nav>
    <hr />
    <div class="content">
        <h1>Witam na stronie o moich zainteresowaniach!</h1>
        <p>Kliknij w wybrany link powyżej, aby przejść do danej podstrony.</p>
    </div>
</body>
</html>