<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Kontakt ze mną</title>
    <link rel="stylesheet" href="static/style_kontakt.css">
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <p> | </p>
        <a href="/zainteresowania">Moje zainteresowania</a>
        <p> | </p>
        <a href="/kontakt">Kontakt ze mną</a>
    </nav>
    <hr />
    <h1>Metody kontaktu ze mną</h1>
    <ul>
        <li><b>Telefon:</b> 123 123 123</li>
        <li><b>Email:</b> przykladowy_mail@example.com</li>
    </ul>
</body>
</html>