<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Dziennik praktyki zawodowej</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_dziennik.css') }}">
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <p> | </p>
        <a href="/efekty-uczenia">Efekty uczenia się w ramach praktyki zawodowej</a>
        <p> | </p>
        <a href="/dziennik">Dziennik praktyki zawodowej</a>
    </nav>
    <hr />
    <div class="content">
        <h1>Dziennik praktyki zawodowej</h1>
        <form action="/zapisz-dziennik" method="POST">
            <label for="imie_nazw">Imię i nazwisko:</label>
            <input type="text" id="imie_nazw" name="imie_nazw" required><br />
            <label for="indeks">Nr albumu:</label>
            <input type="text" id="indeks" name="indeks" minlength="5" maxlength="5" required><br />
            <label for="specjalnosc">Specjalność:</label>
            <input type="text" id="specjalnosc" name="specjalnosc" required><br />
            <label for="rok_ak">Rok ak.:</label>
            <select id="rok_ak" name="rok_ak" required>
                {% for year in range(1998, 2025) %}
                    <option value="{{ year }}/{{ year+1 }}">
                        {{ year }}/{{ year+1 }}
                    </option>
                {% endfor %}
                <option value="2025/2026" selected="selected">2025/2026</option>
            </select><br />
            <label for="miejsce_praktyk">Miejsce odbywania praktyki:</label>
            <input type="text" id="miejsce_praktyk" name="miejsce_praktyk"><br />
            <label for="data_rozp">Data rozpoczęcia praktyki:</label>
            <input type="date" id="data_rozp" name="data_rozp"><br />
            <label for="data_zak">Data zakończenia praktyki:</label>
            <input type="date" id="data_zak" name="data_zak"><br />
            <label for="wykaz_zal">Wykaz załączników (po przecinku)</label><br />
            <textarea id="wykaz_zal" name="wykaz_zal"></textarea><br />
            <table>
                <thead><tr>
                    <th>Dzień</th>
                    <th>Data</th>
                    <th>Opis wykonywanych prac</th>
                    <th>Nr. efektów uczenia się</th>
                </tr></thead>
                <tbody id="tableBody">
                    <tr>
                        <td><input type="number" name="dzien[]" min="1" required></td>
                        <td><input type="date" name="data[]" required></td>
                        <td><input type="text" name="opis[]" required></td>
                        <td><input type="text" name="efekty[]" required></td>
                        <td>
                            <button type="button" class="dodaj_nowy" onclick="addAfter(this)">Dodaj wiersz poniżej</button>
                            <button type="button" class="usun" onclick="deleteRow(this)">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" onclick="addRow()">Dodaj wiersz na dole</button>
            <button type="submit">Zapisz zmiany</button>
        </form>
    </div>
    <script>
        function createRow() {
            const row = document.createElement("tr");
            row.innerHTML = `
                <td><input type="number" name="dzien[]" min="1" required></td>
                <td><input type="date" name="data[]" required></td>
                <td><input type="text" name="opis[]" required></td>
                <td><input type="text" name="efekty[]" required></td>
                <td>
                    <button type="button" class="dodaj_nowy" onclick="addAfter(this)">Dodaj wiersz poniżej</button>
                    <button type="button" class="usun" onclick="deleteRow(this)">Usuń</button>
                </td>
            `;
            return row;
        }

        function addRow() {
            const tableBody = document.getElementById("tableBody");
            tableBody.appendChild(createRow());
        }

        function addAfter(button) {
            const currentRow = button.closest("tr");
            currentRow.after(createRow());
        }

        function deleteRow(button) {
            if (confirm("Czy na pewno chcesz usunąć ten wiersz?") == true) {
                const row = button.closest("tr");
            row.remove();
            }
        }
    </script>
</body>
</html>