<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Formularz - Efekty uczenia się w ramach praktyki zawodowej</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_efekty-uczenia.css') }}">
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <p> | </p>
        <a href="/efekty-uczenia">Efekty uczenia się w ramach praktyki zawodowej</a>
        <p> | </p>
        <a href="/dziennik">Dziennik praktyki zawodowej</a>
    </nav>
    <hr />
    <div class="content">
        <h1>Potwierdzenie uzyskania efektów uczenia się w ramach praktyki zawodowej</h1>
        <form action="/zapisz-efekty" method="POST">
            <label for="imie_nazw">Imię i nazwisko:</label>
            <input type="text" id="imie_nazw" name="imie_nazw" required><br />
            <label for="indeks">Nr albumu:</label>
            <input type="text" id="indeks" name="indeks" minlength="5" maxlength="5" required><br />
            <label for="specjalnosc">Specjalność:</label>
            <input type="text" id="specjalnosc" name="specjalnosc" required><br />
            <label for="godziny">Ilość godzin praktyki zawodowej:</label>
            <input type="number" id="godziny" name="godziny" min="1"><br />
            <table>
                <thead><tr>
                    <th>Lp.</th>
                    <th>Efekty uczenia się</th>
                    <th>Potwierdzenie uzyskania efektów</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td><label for="efekt01">Ma wiedzę na temat sposobu realizacji zadań inżynierskich dotyczących informatyki z zachowaniem standardów i norm technicznych</label></td>
                        <td><select name="efekt01" id="efekt01" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td><label for="efekt02">Zna technologie, narzędzia, metody, techniki oraz sprzęt stosowane w informatyce</label></td>
                        <td><select name="efekt02" id="efekt02" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td><label for="efekt03">Zna ekonomiczne, prawne skutki własnych działań podejmowanych w ramach praktyki oraz ograniczenia wynikające z prawa autorskiego i kodeksu pracy</label></td>
                        <td><select name="efekt03" id="efekt03" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td><label for="efekt04">Zna zasady bezpieczeństwa pracy i ergonomii w zawodzie informatyka</label></td>
                        <td><select name="efekt04" id="efekt04" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td><label for="efekt05">Pozyskuje informacje odnośnie technologii, metod, technik, sprzętu wymaganego do realizacji powierzonego zadania, posługując się rozmaitymi źródłami literaturowymi i zasobami publikowanymi w języku polskim jak i angielskim</label></td>
                        <td><select name="efekt05" id="efekt05" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td><label for="efekt06">W oparciu o kontakty ze środowiskiem inżynierskim zakładu, potrafi podnieść swoje kompetencje, wiedzę i umiejętności, co najmniej z dwóch zakresów: zadania dotyczące sprzętu i oprogramowania: np.: programowania, administrowanie siecią komputerową, konserwacja sprzętu i oprogramowania, bieżące usuwanie usterek, administrowanie zasobami informatycznymi, zakładu pracy / instytucji, (e) usługami</label></td>
                        <td><select name="efekt06" id="efekt06" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td><label for="efekt07">Opracowuje dokumentację dotyczącą realizacji podejmowanych zadań w ramach praktyki, a także referuje ustnie prezentowane w niej zagadnienia</label></td>
                        <td><select name="efekt07" id="efekt07" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td><label for="efekt08">Potrafi zidentyfikować problem informatyczny występujący w zakładzie pracy / instytucji, opisać go, przedstawić koncepcję rozwiązania i ją zrealizować</label></td>
                        <td><select name="efekt08" id="efekt08" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td><label for="efekt09">Potrafi rozwiązać rzeczywiste zadanie inżynierskie z zakresu działalności informatycznej zakładu pracy / instytucji stosując normy i standardy stosowane w informatyce oraz biorąc pod uwagę aspekty środowiskowe i etyczne</label></td>
                        <td><select name="efekt09" id="efekt09" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><label for="efekt10">Pracuje w zespole zajmującym się zawodowo branżą IT</label></td>
                        <td><select name="efekt10" id="efekt10" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td><label for="efekt11">Przestrzega zasad etyki zawodowej i zgodnie z tymi zasadami korzysta z wiedzy i pomocy doświadczonych kolegów</label></td>
                        <td><select name="efekt11" id="efekt11" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td><label for="efekt12">Kontaktując się z osobami spoza branży potrafi zarówno pozyskać od nich niezbędne informacje do realizacji planowanego zadania, jak i przekazać im w sposób zrozumiały informacje i opinie z zakresu informatyki</label></td>
                        <td><select name="efekt12" id="efekt12" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td><label for="efekt13">Dostrzega w praktyce tempo deaktualizacji wiedzy informatycznej oraz skutki działalności informatyków w szczególności ekonomiczne i społeczne</label></td>
                        <td><select name="efekt13" id="efekt13" required>
                            <option value="true">uzyskał/a</option>
                            <option value="false" selected="selected">nie uzyskał/a</option>
                        </select></td>
                    </tr>
                </tbody>
            </table>
            <label for="opinia">Opinia opiekuna uczelnianego</label><br />
            <textarea id="opinia" name="opinia" required></textarea><br />
            <button type="submit">Zapisz</button>
        </form>
    </div>
</body>
</html>