<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <p> | </p>
        <a href="/efekty-uczenia">Efekty uczenia się w ramach praktyki zawodowej</a>
        <p> | </p>
        <a href="/dziennik">Dziennik praktyki zawodowej</a>
    </nav>
    <hr />
    <div class="content">
        <h1>Strona główna</h1>
        <p>Kliknij w wybrany link powyżej, aby przejść do danej podstrony.</p>
    </div>
</body>
</html>